img{
    border-radius: 50%;
}
.Immagine{
    display: flex;
    justify-content:left;
}
.Titolo{
    color: ghostwhite;
    font-family:fantasy;
    font-size: 5rem;
    text-align:start; 
}

.scritte{
    color: ghostwhite;
}

body{
    background-color: black;
}

a{
    color: ghostwhite;
}

 .c{
    color: ivory;
 }

 .b{
    color: ivory;;
 }