img{
    border-radius: 50%;
}
.Immagine{
    display: flex;
    justify-content:left;
}
.Titolo{
    color: ivory;
    font-family:fantasy;
    font-size: 5rem;
    text-align:left; 
}



body{
    background-color: black;
}

a{
    color: ghostwhite;
}

 .c{
    color:ghostwhite;
 }


 .f{
    font-size:x-large;
    color:ghostwhite;
 }
    
 

 li{
    font-style: oblique;
 }

 .g{
    color:ghostwhite ;
    font-size: 3rem;
    line-height: 2%;
 }

.Im2{
    display: flex;
    justify-content: center;
}

.Uni{
    font-size: 37px;
}

.Banana{
    
    color: ghostwhite;
    font-size: 25px;
}

.stat{
    display: flex;
    justify-content: center;
}